@use "app/scss/viewports";

.button-container {
    display: flex;
    gap: 1em;

    // Alignment
    &.button-container--align-left {
        justify-content: flex-start;
    }

    &.button-container--align-center {
        justify-content: center;
    }

    &.button-container--align-right {
        justify-content: end;
    }

    // Mobile Viewport Width
    &.button-container--vw300-mobile {
        @media (max-width: viewports.$vw-300) {
            flex-direction: column;
        }
    }

    &.button-container--vw200-mobile {
        @media (max-width: viewports.$vw-200) {
            flex-direction: column;
        }
    }

    &.button-container--vw100-mobile {
        @media (max-width: viewports.$vw-100) {
            flex-direction: column;
        }
    }
}