// ***********************************
//  Skip Nav
// ***********************************
#skip-nav {
	position: absolute;
  top: 0;
  width: 300px;

	a:link,
	a:visited {
		background-color: #fff;
		color: #000;
		font-size: 20px;
		font-weight: 400;
		overflow: hidden;
		padding: 10px;
		position: absolute; left: -9999px;
		text-decoration: none;
		width: 1px; height: 1px;
	}

	a:focus {
		left: 0;
		width: auto;
		height: auto;
    outline: 1px solid #000;
		overflow: visible;
		text-decoration: none;
		z-index: 20000;
	}

  a:hover {
    background-color: #000;
		color: #fff;
  }
}




// ***********************************
//  Site Map
// ***********************************
.site-map {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 0 0.5em 0;

    a {
      &.not-a-link {
        display: none;
      }
    }

    ul {
      list-style: none;
      margin: 0.5em 0 0 0;
      padding: 0;
    }
  }
}