// ***********************************
//  Whatever can't be done in theme.json, do here
// ***********************************




// ***********************************
//  Required Modules
// ***********************************
@use 'base/fonts';
@use 'base/variables';
@use 'base/typography';




// ***********************************
//  app > scss
// ***********************************
@use 'components/ordered-list';
@use 'components/intro';
@use 'wordpress/wp-block-details';
@use 'wordpress/wp-block-image';
@use 'wordpress/wp-block-table';




// ***********************************
//  theme.json
// ***********************************
#editor .editor-styles-wrapper {
    // *******************************
    //  styles: elements: h1
    // *******************************
    h1 {
        @extend %text-400;
        margin-block: var(--wp--preset--spacing--x-large);
        text-align: center;
    }




    // *******************************
    //  styles: blocks: core/button
    // *******************************
    .wp-block-button {
        .wp-block-button__link {
            border-radius: 0 1rem;
        }
    }
}
