// ***********************************
//  Required Modules
// ***********************************
// these imports must strictly apply to the entire WordPress page, not just the editor
@import 'base/reset';
@import 'base/fonts';
@import 'base/variables';
@import 'base/viewports';

.editor-styles-wrapper {
    // these imports must strictly apply to the editor, not the entire WordPress page
    @import 'base/typography';
    @import 'base/text-elements';
    @import 'components/buttons';
    @import 'components/intro';
    @import 'components/ordered-list';
    @import 'wordpress/wp-block-image.scss';
}




// ***********************************
//  Todo
// ***********************************
// - ( ) Change 'import' rules to 'use' rules




// ***********************************
//  Default Styles
// ***********************************
.editor-styles-wrapper {
    // editor styles
    background-color: var(--c-black);
    color: var(--c-white);
    line-height: 2;

    // paragraphs
    p {
        @extend %text-100;
    }

    // h1 placeholder for the editor, when no heading has been entered yet
    h1.rich-text [data-rich-text-placeholder] {
        color: var(--c-white);
    }

    h1 {
        @extend %text-400;
        text-align: center;
    }

    h2 {
        @extend %text-300;
    }

    h3 {
        @extend %text-400;
    }

    // h1 container
    .edit-post-visual-editor__post-title-wrapper {
        margin-block: var(--spacing-400) !important;
    }
}




// ***********************************
//  Blocks > Media > Image
// ***********************************
.editor-styles-wrapper {
    // *******************************
    //  Toolbar > Align
    // *******************************
    .alignleft,
    .aligncenter,
    .alignright {
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 960px;
        width: 100%;
    }

    .alignleft {
        >div {
            margin-inline: 0 auto;
        }
    }
    
    .aligncenter {
        >div {
            margin-inline: auto;
        }
    }

    .alignright {
        >div {
            margin-inline: auto 0;
        }
    }
}




// ***********************************
//  Blocks > Design > Buttons
// ***********************************
.editor-styles-wrapper {
    .wp-block-button {
        .wp-block-button__link {
            @extend %button;
        }
        
        // *******************************
        //  Styles
        // *******************************
        &.is-style-outline {
            color: var(--c-primary);
        }
    }
}