// ***********************************
//  Main: Site Content
// ***********************************
main.site-main {
	@extend %text-100;
}




// ***********************************
//  Categories
// ***********************************
.categories {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-block: 3em;
	flex-wrap: wrap;
}

.category__item {
	@media (max-width: $vw-500) {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 20vw;
		max-width: 240px;
	}
}




// ***********************************
//  Posts
// ***********************************
.posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3em;
	margin-block: 3em;

	@media (max-width: $vw-500) {
		grid-template-columns: 1fr;
	}
}

.post__item {
	opacity: 0;
	transition: opacity 0.25s;
	display: none;

	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 5em 3em;
	background-color: var(--c-secondary);
	border-radius: 1em;

	&.fade {
		opacity: 1;
	}

	&.active {
		display: flex;
	}

	// if there is only one post
	&:only-child {
		grid-column: 1/-1;
		margin-inline: auto;
		width: 50%;

		@media (max-width: $vw-500) {
			width: 100%;
		}
	}
}

.post__heading {
	@extend %text-200;
	order: 2;
	margin-bottom: 0.25em;
	
	a {
		display: inline-block;
	}
}

.post__category {
	inset: 2em 50% auto auto;
	order: 1;
	@extend %text-125;
}

.post__date {
	inset: auto 50% 2em auto;
	order: 3;
	@extend %text-125;
}

.post__heading,
.post__category,
.post__date {
	text-align: center;
}

.post__category,
.post__date {
	position: absolute;
	transform: translate(50%, 0);
}