// ***********************************
//  Main: Site Content
// ***********************************
main.site-main {
	@extend %text-100;

	h1 {
		margin-bottom: 0.5em;
	}
}




// ***********************************
//  About Page
// ***********************************
.about {
	margin-bottom: 5em;
	padding-block: 5em;
	border-bottom: 1px solid var(--c-grey-100);
}

.about__container {
	display: grid;
	gap: 3em;
	grid-template-columns: 3fr 1fr;

	@media (max-width: $vw-600) {
		grid-template-columns: 1fr;
	}
}

.about__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about__text {
	h2 {
		margin-bottom: 1em;
	}
}

.about__item--image {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.slideshow {
		width: 348px;

		// show three slides in a row on medium-size viewports
		@media (max-width: $vw-600) {
			width: 100%;
			grid-template-columns: repeat(3, 1fr);
			gap: clamp(0.25em, 2vw, 1em);
			
			.slideshow__slide--vw600 {
				opacity: 1;
				z-index: 1;
				grid-column: auto;
				grid-row: auto;

				// hide all but the first 3 slides
				&:nth-of-type(n+4) {
					display: none;
				}
			}

			img {
				width: 348px;
			}
		}

		@media (max-width: $vw-100) {
			max-width: 348px;
			grid-template-columns: 1fr;
			margin-inline: auto;
		}
	}

	img {
		border-radius: 100%;
		border: clamp(0.25em, 2vw, 1em) solid var(--c-grey-100);
	}
}




// ***********************************
//  Categories
// ***********************************
.categories {

}

.categories__container {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-block: 3em;
	flex-wrap: wrap;
}

.category__item {
	flex-grow: 1;
	flex-shrink: 1;

	@media (max-width: $vw-500) {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 20vw;
		max-width: 240px;
	}
}




// ***********************************
//  Posts
// ***********************************
.posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3em;
	margin-block: 3em;

	@media (max-width: $vw-500) {
		grid-template-columns: 1fr;
	}
}

.post__item {
	opacity: 0;
	transition: opacity 0.25s;
	display: none;

	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 5em 3em;
	background-color: var(--c-secondary);
	border-radius: 1em;

	&.fade {
		opacity: 1;
	}

	&.active {
		display: flex;
	}

	// if there is only one post
	&:only-child {
		grid-column: 1/-1;
		margin-inline: auto;
		width: 50%;

		@media (max-width: $vw-500) {
			width: 100%;
		}
	}
}

.post__heading {
	@extend %text-200;
	order: 2;
	margin-bottom: 0.25em;
	
	a {
		display: inline-block;
	}
}

.post__category {
	inset: 2em 50% auto auto;
	order: 1;
	@extend %text-125;
}

.post__date {
	inset: auto 50% 2em auto;
	order: 3;
	@extend %text-125;
}

.post__heading,
.post__category,
.post__date {
	text-align: center;
}

.post__category,
.post__date {
	position: absolute;
	transform: translate(50%, 0);
}