// ***********************************
//  Header
// ***********************************
.header {
  width: min(var(--w-tiny), 100%);
  margin-inline: auto;
}




// ***********************************
//  Container
// ***********************************
.header__container {

}




// ***********************************
//  Logo
// ***********************************
.header__logo {
    a {
        @extend %text-200;
        transition: color var(--t-medium);

        &:hover,
        &:focus {
            color: var(--c-primary);
            text-decoration: none;
        }
    }
}
