// ***********************************
//  Header
// ***********************************
header.site-header {

}




// ***********************************
//  Container
// ***********************************
.header__container {
    display: flex;
    justify-content: space-between;
    padding-block: 3em;
	border-bottom: 1px solid var(--c-grey-100);
}




// ***********************************
//  Logo
// ***********************************
.header__logo {
	h1 {
		@extend %text-400;
	}

    a {
        @extend %text-400;
        transition: color var(--t-medium);

        &:hover,
        &:focus {
            color: var(--c-primary);
            text-decoration: none;
        }
    }
}




// ***********************************
//  Navigation
// ***********************************
.header__navigation {
	display: flex;
	align-items: center;

	nav {

	}

	ul {
		margin: 0;
		list-style: none;
		display: flex;
	}

	li {
		margin-inline: 1.5em;

		&:last-of-type {
			margin-inline: 0;
		}
	}

	a {
		color: var(--c-white);

		&:hover,
		&:focus {
			color: var(--c-primary);
		}
	}
}