// ***********************************
//  Header
// ***********************************
header.site-header {

}




// ***********************************
//  Container
// ***********************************
.header__container {
	border-bottom: 1px solid var(--c-grey-100);
    display: flex;
    justify-content: space-between;
	@extend %pbl-c-1-5-3;
}




// ***********************************
//  Logo
// ***********************************
.header__logo {
	h1,
	a {
		color: var(--c-white);
		font-size: var(--fs-1000);
		font-weight: var(--fw-thin);
		line-height: var(--lh-400);
		text-decoration: none;
		transition: all 1.75s;

		span {
			display: inline-block;
			max-width: 0;
			opacity: 0;
			transition: all 1.75s;
		}

		&:hover,
		&:focus {
			cursor: default;

			span {
				max-width: 100%;
				opacity: 1;
			}
		}
	}

    a {
        &:hover,
        &:focus {
			cursor: pointer;
            color: var(--c-primary);
        }
    }
}




// ***********************************
//  Navigation
// ***********************************
.header__navigation {
	display: flex;
	align-items: center;

	nav {

	}

	ul {
		display: flex;
		gap: clamp(0.5em, 3vw, 1.5em);
		margin: 0;
		list-style: none;
	}

	li {
		
	}

	a {
		@extend %button;
	}
}