// ***********************************
//  HTML & BODY
// ***********************************
html {
	scroll-behavior: smooth;
}

body {
	@extend %text-100;
	background-color: var(--c-black);
	position: relative;
}




// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
	margin-inline: auto;
}




// ***********************************
//  Element Widths
// ***********************************
.width-100 { width: min(var(--w-100), var(--w-spacing)); }
.width-200 { width: min(var(--w-200), var(--w-spacing)); }
.width-300 { width: min(var(--w-300), var(--w-spacing)); }
.width-400 { width: min(var(--w-400), var(--w-spacing)); } // in use
.width-500 { width: min(var(--w-500), var(--w-spacing)); }
.width-600 { width: min(var(--w-600), var(--w-spacing)); }
.width-700 { width: min(var(--w-700), var(--w-spacing)); } // in use
.width-800 { width: min(var(--w-800), var(--w-spacing)); }
.width-900 { width: min(var(--w-900), var(--w-spacing)); }
.width-1000 { width: min(var(--w-1000), var(--w-spacing)); }




// ***********************************
//  Text Style Guide
// ***********************************
@mixin text($family, $size, $weight, $lineHeight, $color, $textDecoration, $textTransform, $fontStyle) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	line-height: $lineHeight;
	color: $color;
	text-decoration: $textDecoration;
	text-transform: $textTransform;
	font-style: $fontStyle;
}

// Typical Use: Default paragraph text
// Description: Small font size and white color
%text-100 {
	@include text(
		var(--ff-primary), // Font Family:     Montserrat
		var(--fs-500),     // Font Size:       18px (1.125rem)
		var(--fw-regular), // Font Weight:     Regular
		var(--lh-500),     // Line Height:     2
		var(--c-white),    // Color:           White
		none,              // Text Decoration: none
		none, 			   // Text Transform:  none
		normal 		       // Font Style:      normal
	);
}
.text-100 { @extend %text-100; }

// Typical Use: Headings
// Description: Small font size and orange gradient color
%text-200 {
	@include text(
		var(--ff-primary), // Font Family:     Montserrat
		var(--fs-500),     // Font Size:       18px (1.125rem)
		var(--fw-regular), // Font Weight:     Regular
		var(--lh-400),     // Line Height:     1.5
		var(--c-white),    // Color:           See 'background' property
		none,              // Text Decoration: none
		none, 			   // Text Transform:  none
		normal 		       // Font Style:      normal
	);
	background: linear-gradient(to right, var(--c-gradient));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.text-200 { @extend %text-200; }
.text-200--h1 h1 { @extend %text-200; }
.text-200--h2 h2 { @extend %text-200; }
.text-200--h3 h3 { @extend %text-200; }

// Typical Use: Headings
// Description: Medium font size and orange gradient color
%text-300 {
	@include text(
		var(--ff-primary),                        // Font Family:     Montserrat
		clamp(var(--fs-700), 3vw, var(--fs-900)), // Font Size:       22px/26px (1.375rem/1.625rem)
		var(--fw-regular),                        // Font Weight:     Regular
		var(--lh-400),                            // Line Height:     1.5
		var(--c-white),                           // Color:           See 'background' property
		none,                                     // Text Decoration: none
		none, 			                          // Text Transform:  none
		normal 		                              // Font Style:      normal
	);
	background: linear-gradient(to right, var(--c-gradient));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.text-300 { @extend %text-300; }
.text-300--h1 h1 { @extend %text-300; }
.text-300--h2 h2 { @extend %text-300; }
.text-300--h3 h3 { @extend %text-300; }

// Typical Use: Headings
// Description: Large font size and orange gradient color
%text-400 {
	@include text(
		var(--ff-primary),                          // Font Family:       Montserrat
		clamp(var(--fs-1000), 5vw, var(--fs-1500)), // Font Size:         32px/52px (3rem/3.25rem)
		var(--fw-thin),                             // Font Weight:       Thin
		var(--lh-400),                              // Line Height:       1.5
		var(--c-white),                             // Color:             See 'background' property
		none,                                       // Text Decoration:   none
		none, 			                            // Text Transform:    none
		normal 		                                // Font Style:        normal
	);
	background: linear-gradient(to right, var(--c-gradient));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.text-400 { @extend %text-400; }
.text-400--h1 h1 { @extend %text-400; }
.text-400--h2 h2 { @extend %text-400; }
.text-400--h3 h3 { @extend %text-400; }

// Typical Use: Category names, date timestamps
// Description: Small font size and grey color
%text-500 {
	@include text(
		var(--ff-primary), // Font Family:     Montserrat
		var(--fs-400),     // Font Size:       16px (1rem)
		var(--fw-regular), // Font Weight:     Regular
		var(--lh-400),     // Line Height:     1.5
		var(--c-grey-300), // Color:           Grey - Medium
		none,              // Text Decoration: none
		none, 			   // Text Transform:  none
		normal 		       // Font Style:      normal
	);
}
.text-500 { @extend %text-500; }
.text-500--h1 h1 { @extend %text-500; }
.text-500--h2 h2 { @extend %text-500; }
.text-500--h3 h3 { @extend %text-500; }




// ***********************************
//  Text Elements
// ***********************************
main {
	p {
		margin-bottom: 1em;
	
		&:last-child {
			margin-bottom: 0;
		}
	}

	strong {
		color: var(--c-color-100);
		font-weight: var(--fw-bold);
	}

	em {
		color: var(--c-color-200);
		font-style: italic;
	}

	code {
		color: var(--c-color-300);
		font-family: 'Courier New', monospace;
	}

	ul, ol {
		margin: 0 0 1em 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		color: var(--c-primary);
		text-decoration: none;
		transition: all var(--t-medium);

		&:hover,
		&:focus {
			color: var(--c-white);
			text-shadow: 1px 1px 2px var(--c-black-alt), 0 0 1em var(--c-primary), 0 0 0.2em var(--c-primary);
		}
	}

	hr {
		margin-block: 1em;
	}
}




// ***********************************
//  Buttons
// ***********************************
%button {
	@include text(
		var(--ff-primary),                        // Font Family: Montserrat
		clamp(var(--fs-400), 3vw, var(--fs-500)), // Font Size:   16px/18px (1rem/1.125rem)
		var(--fw-medium),                         // Font Weight: Medium
		var(--lh-400),                            // Line Height: 1.5
		var(--c-primary),                         // Color: Blue
		none,                                     // Text Decoration: none
		none,                                     // Text Transform: none
		normal                                    // Font Style: normal
	);
	background-color: transparent;
	border: 1px solid var(--c-grey-100);
	border-radius: 0 1em;
	cursor: pointer;
	padding: 0.7em 1.25em;
	text-align: center;
	transition: all var(--t-fast);

	&:hover,
	&:focus {
		background-color: var(--c-black-alt);
		box-shadow: 1px 1px 50px var(--c-primary-rgb-10);
		color: var(--c-white);
		text-shadow: none;
	}
}

.button {
	@extend %button;
}




ol.ordered-list--1 {
	background-color: var(--c-grey-200);
	counter-reset: item;
	list-style: none;
	margin-left: 0;
	padding: clamp(1em, 3vw, 2em);
	
	li {
		border-bottom: 1px dashed var(--c-grey-100);
		counter-increment: item;
		margin-bottom: 1em;
		padding-bottom: 1em;
		padding-left: 3em;
		position: relative;

		&:last-of-type {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	li:before {
		margin-right: 10px;
		content: counter(item);
		background: var(--c-grey-100);
		border-radius: 100%;
		color: white;
		width: 2em;
		height: 2em;
		text-align: center;
		display: inline-block;
		position: absolute;
		left: 0;
	}
}




// ***********************************
//  Icons
// ***********************************
.icon {
	&:before {
		content: '';
		font-family: 'icons';
		font-size: var(--fs-500);
		color: var(--c-primary);
	}
}

.icon--address {
	&:before {
		content: '\E814';
	}
}

.icon--phone {
	&:before {
		content: '\E815';
	}
}




// ***********************************
//  Social Icons
// ***********************************
.social {
	list-style: none;
	margin: 0;

	a {
		&:before {
			content: '\E800';
			font-family: 'icons';
		}
	}
}

.social__instagram a:before { content: '\F16D'; }
.social__linkedin a:before { content: '\E809'; }
.social__lastfm a:before { content: '\F202'; }
.social__github a:before { content: '\F09B'; }
.social__codepen a:before { content: '\F32C'; }




// ***********************************
//  Error
// ***********************************
.error {
	position: fixed;
	inset: 0 auto auto 0;
	width: 100%;
	padding-inline: 1em;
	background-color: #9d0000;
	color: var(--c-white);
	text-align: center;
	z-index: 99999;
	transition: all var(--t-fast);

	opacity: 0;

	&.active {
		opacity: 1;
	}
}