// ***********************************
//  Required Modules
// ***********************************
@use 'typography';




// ***********************************
//  HTML & BODY
// ***********************************
html {
	scroll-behavior: smooth;
}

body {
	@extend %text-100;
	background-color: var(--c-black);
	position: relative;
}




// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
	margin-inline: auto;
}




// ***********************************
//  Element Widths
// ***********************************
.width-100 { width: min(var(--w-100), var(--w-spacing)); }
.width-200 { width: min(var(--w-200), var(--w-spacing)); }
.width-300 { width: min(var(--w-300), var(--w-spacing)); }
.width-400 { width: min(var(--w-400), var(--w-spacing)); } // in use
.width-500 { width: min(var(--w-500), var(--w-spacing)); }
.width-600 { width: min(var(--w-600), var(--w-spacing)); }
.width-700 { width: min(var(--w-700), var(--w-spacing)); } // in use
.width-800 { width: min(var(--w-800), var(--w-spacing)); }
.width-900 { width: min(var(--w-900), var(--w-spacing)); }
.width-1000 { width: min(var(--w-1000), var(--w-spacing)); }




// ***********************************
//  Article
// ***********************************
.article {
	margin-block: var(--spacing-400);

	h1 {
		text-align: center;
	}
}

.article__content {
	margin-block: var(--spacing-400);
}

.article {
	time {
		@extend %text-500;
		font-style: italic;
		display: block;
		width: 100%;
		text-align: center;
	}
}




// ***********************************
//  404 Error Page
// ***********************************
.error-page {
	margin-block: var(--spacing-400);
	text-align: center;
}