:root {
	// ***********************************
	//  Fonts and Text
	// ***********************************
	--root-font-size: 16px;

	--ff-primary: 'Montserrat', serif;
	// --ff-secondary: 'Comic Sans', serif;

	--fs-100: 0.8125rem; // 13
	--fs-200: 0.875rem; // 14
	--fs-300: 0.9375rem; // 15
	--fs-400: 1rem; // 16
	--fs-500: 1.125rem; // 18
	--fs-600: 1.25rem; // 20
	--fs-700: 1.375rem; // 22
	--fs-800: 1.5rem; // 24
	--fs-900: 1.625rem; // 26
	--fs-1000: 2rem; // 32
	--fs-1500: 3.25rem; // 52

	--fw-thin: 100;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;

	--lh-100: 0.75;
	--lh-200: 1;
	--lh-300: 1.25;
	--lh-400: 1.5;
	--lh-500: 2;




	// ***********************************
	//  colors
	// ***********************************
	// Update theme.json when changing these values
	--c-primary: #009ffe;
	--c-primary-rgb-10: rgb(41 148 255 / 20%);
	--c-secondary: #ff5733;
	--c-tertiary: #ffc300;
	--c-color-100: #d780d0;
	--c-color-200: #fefecc;
	--c-color-300: #91d780;
	--c-black: #17171a;
	--c-black-alt: #0a0a0a;
	--c-white: #fefefe;
	--c-grey-100: #343434; // in use
	--c-grey-200: #1e1e23; // in use
	--c-grey-300: #878787; // in use
	--c-grey-400: #bebebe;
	--c-grey-500: #dcdcdc;
	--c-gradient: var(--c-secondary) 0%, var(--c-tertiary) 100%;




	// ***********************************
	//  Element Widths
	// ***********************************
	--w-100: 480px;
	--w-200: 640px;
	--w-300: 800px;
	--w-400: 960px;
	--w-500: 1120px;
	--w-600: 1280px;
	--w-700: 1440px;
	--w-800: 1600px;
	--w-900: 1760px;
	--w-1000: 1920px;
	--w-spacing: calc(100% - 2em);




	// ***********************************
	//  Layout Margin & Padding
	// ***********************************
	--spacing-400: clamp(3em, 5vw, 5em);
	%mbl-c-3-5-5 { margin-block: clamp(3em, 5vw, 5em); }
	%pbl-c-1-5-3 { padding-block: clamp(1em, 5vw, 3em); }
	 %mb-c-3-5-5 { margin-bottom: clamp(3em, 5vw, 5em); }
	 %pb-c-3-5-5 { padding-bottom: clamp(3em, 5vw, 5em); }




	// ***********************************
	//  Transitions
	// ***********************************
	--t-fast: 0.3s;
	--t-medium: 0.5s;
	--t-slow: 1s;



	// ***********************************
	//  WordPress Presets
	// ***********************************
	--wp--preset--spacing--1: 1rem;
	--wp--preset--spacing--2: 2rem;
	--wp--preset--spacing--3: 3rem;
	--wp--preset--spacing--4: 4rem;
	--wp--preset--spacing--5: 5rem;
	--wp--preset--spacing--6: 6rem;
	--wp--preset--spacing--7: 7rem;
}
// end :root
