:root {
	// ***********************************
	//  Fonts and Text
	// ***********************************
	--root-font-size: 16px;

	--ff-primary: 'Montserrat', serif;
	// --ff-secondary: 'Comic Sans', serif;

	--fs-100: 0.8125rem; // 13
	--fs-200: 0.875rem; // 14
	--fs-300: 0.9375rem; // 15
	--fs-400: 1rem; // 16
	--fs-500: 1.125rem; // 18
	--fs-600: 1.25rem; // 20
	--fs-700: 1.375rem; // 22
	--fs-800: 1.5rem; // 24
	--fs-900: 1.625rem; // 26
	--fs-1000: 2em; // 32
	--fs-1500: 3.25rem; // 52

	--fw-thin: 100;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;

	--lh-100: 0.75;
	--lh-200: 1;
	--lh-300: 1.25;
	--lh-400: 1.5;
	--lh-500: 2;




	// ***********************************
	//  colors
	// ***********************************
	--c-primary: #009ffe;
	--c-primary-rgb-10: rgb(41 148 255 / 20%);
	--c-secondary: #bdd2e7;
	--c-black: #17171a;
	--c-black-alt: #0a0a0a;
	--c-white: #fefefe;
	--c-grey-100: #343434; // in use
	--c-grey-200: #1e1e23; // in use
	--c-grey-300: #878787; // in use
	--c-grey-400: #bebebe;
	--c-grey-500: #dcdcdc;




	// ***********************************
	//  Element Widths
	// ***********************************
	--w-large: 1920px;
	--w-medium: 1680px;
	--w-default: 1440px;
	--w-small: 1240px;
	--w-tiny: 800px;

	.width-lg {
		width: min(var(--w-large), calc(100% - 2em));
	}

	.width-md {
		width: min(var(--w-medium), calc(100% - 2em));
	}

	.width-df {
		width: min(var(--w-default), calc(100% - 2em));
	}

	.width-sm {
		width: min(var(--w-small), calc(100% - 2em));
	}

	.width-xs {
		width: min(var(--w-tiny), calc(100% - 2em));
	}



	// ***********************************
	//  Transitions
	// ***********************************
	--t-fast: 0.3s;
	--t-medium: 0.5s;
	--t-slow: 1s;
}
// end :root




// ***********************************
//  Viewport Width Breakpoints (-160px)
// ***********************************
$vw-1100: 1760px;
$vw-1000: 1600px;
$vw-900: 1440px;
$vw-800: 1360px;
$vw-700: 1280px;
$vw-600: 1120px;
$vw-500: 1024px;
$vw-400: 960px;
$vw-300: 800px;
$vw-200: 640px;
$vw-100: 480px;




// ***********************************
//  Viewport Height Breakpoints
// ***********************************
$vh-300: 800px;
$vh-200: 640px;