// ***********************************
//  Viewport Width Breakpoints (-160px)
// ***********************************
$vw-100: 480px;
$vw-200: 640px;
$vw-300: 800px;
$vw-400: 960px;
$vw-500: 1024px;
$vw-600: 1120px;
$vw-700: 1280px;
$vw-800: 1360px;
$vw-900: 1440px;
$vw-1000: 1600px;
$vw-1100: 1760px;