// ***********************************
//  WordPress Generated Classes
// ***********************************




// ***********************************
//  Columns
// ***********************************
.wp-block-columns {
    display: flex;
}

.wp-block-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}




// ***********************************
//  Typography - Font Sizes
// ***********************************
.has-small-font-size   { font-size: var(--fs-400); }
.has-medium-font-size  { font-size: var(--fs-600); }
.has-large-font-size   { font-size: var(--fs-700); }
.has-x-large-font-size { font-size: var(--fs-800); }




// ***********************************
//  Color - Background
// ***********************************
.has-primary-background-color   { background-color: var(--c-primary); }
.has-secondary-background-color { background-color: var(--c-secondary); }
.has-tertiary-background-color  { background-color: var(--c-tertiary); }
.has-color-100-background-color { background-color: var(--c-color-100); }
.has-color-200-background-color { background-color: var(--c-color-200); }
.has-color-300-background-color { background-color: var(--c-color-300); }
.has-black-background-color     { background-color: var(--c-black); }
.has-black-alt-background-color { background-color: var(--c-black); }
.has-white-background-color     { background-color: var(--c-white); }
.has-grey-100-background-color  { background-color: var(--c-grey-100); }
.has-grey-200-background-color  { background-color: var(--c-grey-200); }
.has-grey-300-background-color  { background-color: var(--c-grey-300); }
.has-grey-400-background-color  { background-color: var(--c-grey-400); }
.has-grey-500-background-color  { background-color: var(--c-grey-500); }




// ***********************************
//  Color - Color
// ***********************************
.has-primary-color   { color: var(--c-primary); }
.has-secondary-color { color: var(--c-secondary); }
.has-tertiary-color  { color: var(--c-tertiary); }
.has-color-100-color { color: var(--c-color-100); }
.has-color-200-color { color: var(--c-color-200); }
.has-color-300-color { color: var(--c-color-300); }
.has-black-color     { color: var(--c-black); }
.has-black-alt-color { color: var(--c-black); }
.has-white-color     { color: var(--c-white); }
.has-grey-100-color  { color: var(--c-grey-100); }
.has-grey-200-color  { color: var(--c-grey-200); }
.has-grey-300-color  { color: var(--c-grey-300); }
.has-grey-400-color  { color: var(--c-grey-400); }
.has-grey-500-color  { color: var(--c-grey-500); }