// ***********************************
//  Layout Classes:
// ***********************************
// .is-layout-constrained {

// }

// .is-layout-flow {

// }

// .is-layout-flex {
    
// }

// ***********************************
//  Flex Orientation (Direction) Classes:
// ***********************************
// .is-vertical {

// }

// .is-horizontal {

// }

// ***********************************
//  Content Justification Classes:
// ***********************************
.is-content-justification-left {
    justify-content: flex-start;
}

.is-content-justification-center {
    justify-content: center;
}

.is-content-justification-right {
    justify-content: flex-end;
}

.is-content-justification-space-between {
    justify-content: space-between;
}

// ***********************************
//  Flex Wrap Classes
// ***********************************
// .is-nowrap {

// }

// ***********************************
//  Container Classes:
// ***********************************
// .wp-container {

// }