// ***********************************
//  Required Modules
// ***********************************
// None




// ***********************************
//  Blocks > Text > Quote
// ***********************************
.wp-block-quote {
    border-left: 0.25rem solid var(--wp--preset--color--base);
    padding-left: var(--wp--preset--spacing--large);

    p {
        font-size: var(--wp--preset--font-size--medium);
        margin-bottom: var(--wp--preset--spacing--small)
    }

    cite {
        font-size: var(--wp--preset--font-size--medium);
    }
}