// ***********************************
//  Required Modules
// ***********************************
@use 'components/buttons';




// ***********************************
//  Blocks > Design > Buttons
// ***********************************
.wp-block-buttons {
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1rem;

    &.is-layout-flex {
        display: flex;
    }

    // *******************************
    //  Layout > Allow to wrap to multiple lines
    // *******************************
    &.is-nowrap {
        flex-wrap: nowrap;
    }

    // *******************************
    //  Orientation
    // *******************************
    &.is-vertical {
        .wp-block-button {
            &.wp-block-button__width-100 { width: 100%; }
            &.wp-block-button__width-75 { width: 75%; }
            &.wp-block-button__width-50 { width: 50%; }
            &.wp-block-button__width-25 { width: 25%; }
        }
    }
}

// ***********************************
//  Blocks > Design > Buttons > Button
// ***********************************
main,
.is-root-container {
    // all styles
    .wp-block-button {

    }

    // Variation: Default
    .wp-block-button:not(.is-style-outline) {
        .wp-block-button__link {
            @extend %button--fill;
            display: block;   
        }
    }

    // Variation: Outline
    .wp-block-button.is-style-outline {
        .wp-block-button__link {
            @extend %button--outline;

            &:not(.has-text-color) {
                color: var(--wp--preset--color--primary);
            }

            &:hover,
            &:focus {
                color: var(--wp--preset--color--base);
            }
        }
    }
}


// *******************************
//  Width settings
// *******************************
.wp-block-button {
    &.wp-block-button__width-100 {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.wp-block-button__width-75 {
        flex-basis: 75%;
    }

    &.wp-block-button__width-50 {
        flex-basis: 50%;
    }

    &.wp-block-button__width-25 {
        flex-basis: 25%;
    }

    &.wp-block-button__width-75,
    &.wp-block-button__width-50,
    &.wp-block-button__width-25 {
        flex-grow: 0;
        flex-shrink: 1;
    }
}
