// ***********************************
//  Required Modules
// ***********************************
// None




// ***********************************
//  Blocks > Media > Image
// ***********************************
.wp-block-image {
    width: 100%;

    // *******************************
    //  Styles
    // *******************************
    /*
    &.is-style-default {

    }
    */

    &.is-style-rounded {
        img {
            border-radius: 1rem;
        }
    }

    // *******************************
    //  Settings > Resolution
    // *******************************
    /*
    &.size-thumbnail {
        
    }

    &.size-medium {

    }

    &.size-full {

    }
    */

    // *******************************
    //  Toolbar > Align
    // *******************************
    &.alignwide {
        img {
            width: min(1200px, 100%);
        }
    }

    &.alignfull {
        img {
            width: 100%;
        }
    }

    &.alignleft {
        img {
            margin-inline: 0 auto;
        }
    }

    &.aligncenter {
        img {
            margin-inline: auto;
        }
    }

    &.alignright {
        img {
            margin-inline: auto 0;
        }
    }

    // *******************************
    //  Toolbar > Add caption
    // *******************************
    &.alignleft {
        figcaption {
            text-align: left;
        }
    }

    &.aligncenter {
        figcaption {
            text-align: center;
        }
    }

    &.alignright {
        figcaption {
            text-align: right;
        }
    }

    figcaption {
        font-size: var(--wp--preset--font-size--x-small);
        margin-top: 1.5rem;
    }
}