// ***********************************
//  Required Modules
// ***********************************
// None




// ***********************************
//  Todo
// ***********************************
// - ( ) 




// ***********************************
//  Blocks > Media > Cover
// ***********************************
.wp-block-cover {
    align-items: center;
    background-position: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 430px;
    overflow: hidden;
    overflow: clip;
    padding: 1em;
    position: relative;

    .has-background-dim:not([class*=-background-color]) {
        background: #000;
    }

    >span {
        bottom: 0;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .wp-block-cover__inner-container {
        color: inherit;
        width: 100%;
        z-index: 1;
    }

    // *******************************
    //  Styles > Color
    // *******************************
    .has-background-dim-100 { opacity: 1;}
    .has-background-dim-90 { opacity: 0.9;}
    .has-background-dim-80 { opacity: 0.8;}
    .has-background-dim-70 { opacity: 0.7;}
    .has-background-dim-60 { opacity: 0.6;}
    .has-background-dim-50 { opacity: 0.5;}
    .has-background-dim-40 { opacity: 0.4;}
    .has-background-dim-30 { opacity: 0.3;}
    .has-background-dim-20 { opacity: 0.2;}
    .has-background-dim-10 { opacity: 0.1;}
    .has-background-dim-0 { opacity: 0;}

    // *******************************
    //  Toolbar > Change content position
    // *******************************
    &.has-custom-content-position {
        .wp-block-cover__inner-container {
            width: auto;
        }
    }

    &.is-position-top-left {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &.is-position-top-center {
        align-items: flex-start;
        justify-content: center;
    }

    &.is-position-top-right {
        align-items: flex-start;
        justify-content: flex-end;
    }

    &.is-position-center-left {
        align-items: center;
        justify-content: flex-start;
    }

    &.is-position-center-center {
        align-items: center;
        justify-content: center;
    }

    &.is-position-center-right {
        align-items: center;
        justify-content: flex-end;
    }

    &.is-position-bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
    }

    &.is-position-bottom-center {
        align-items: flex-end;
        justify-content: center;
    }

    &.is-position-bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
    }

    // ***********************************
    //  Image Background
    // ***********************************
    .wp-block-cover__image-background {
        border: none;
        bottom: 0;
        box-shadow: none;
        height: 100%;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none;
        object-fit: cover;
        outline: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    // ***********************************
    //  Child Elements
    // ***********************************
    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}