// ***********************************
//  Required Modules
// ***********************************
// None




// ***********************************
//  Blocks > Media > Gallery
// ***********************************
.wp-block-gallery {
    display: grid;
    margin-inline: auto;
    gap: var(--wp--preset--spacing--small);
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;

    &.columns-1 {
        grid-template-columns: 1fr;
    }

    &.columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.columns-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.columns-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.columns-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.columns-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .wp-block-image {
        position: relative;
        width: 100%;

        figcaption {
            background-color: rgb(0 0 0 / 0.5);
            font-size: var(--wp--preset--font-size--small);
            inset: auto auto 0 auto;
            margin-top: 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }
}
