// ***********************************
//  Required Modules
// ***********************************
// None




// ***********************************
//  Todo
// ***********************************
// - ( ) Toolbar > Apply duotone filter
// - (X) Toolbar > Align
// - ( ) Toolbar > Add caption
// - ( ) Toolbar > Inser link
// - ( ) Toolbar > Crop
// - ( ) Toolbar > Add text over image
// - ( ) Settings > Expand on click




// ***********************************
//  Blocks > Media > Image
// ***********************************
.wp-block-image {
    // *******************************
    //  Styles
    // *******************************
    /*
    &.is-style-default {

    }
    */

    &.is-style-rounded {
        img {
            border-radius: 1rem;
        }
    }

    // *******************************
    //  Settings > Resolution
    // *******************************
    /*
    &.size-thumbnail {
        
    }

    &.size-medium {

    }

    &.size-full {

    }
    */

    // *******************************
    //  Toolbar > Align
    // *******************************
    &.alignleft {
        img {
            margin-inline: 0 auto;
        }
    }

    &.aligncenter {
        img {
            margin-inline: auto;
        }
    }

    &.alignright {
        img {
            margin-inline: auto 0;
        }
    }

    // *******************************
    //  Toolbar > Add caption
    // *******************************
    &.alignleft {
        figcaption {
            text-align: left;
        }
    }

    &.aligncenter {
        figcaption {
            text-align: center;
        }
    }

    &.alignright {
        figcaption {
            text-align: right;
        }
    }

    figcaption {
        font-size: var(--fs-300);
        margin-top: 1.5rem;
    }
}