// ***********************************
//  Required Modules
// ***********************************
@use 'base/typography';




// ***********************************
//  HTML & BODY
// ***********************************
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	@extend %text-100;
	background-color: var(--wp--preset--color--main);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
