// ***********************************
//  Text Elements
// ***********************************
p {
    margin-bottom: 1rem;
}

strong {
    font-weight: var(--wp--custom--font-weight--bold);
}

em {
    font-style: italic;
}

code {
    color: var(--wp--preset--color--300);
    font-family: 'Courier New', monospace;
}

ul, ol {
    margin-left: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &.has-background {
        margin-left: 0;
        padding: clamp(0.5rem, 3vw, 1rem) clamp(0.5rem, 3vw, 1rem) clamp(0.5rem, 3vw, 1rem) clamp(2rem, 3vw, 2.5rem);
    }
}

a {
    color: var(--wp--preset--color--primary);
    text-decoration: none;
    transition: all var(--transition--medium);

    &:hover,
    &:focus {
        color: var(--wp--preset--color--base);
        text-shadow: var(--wp--custom--text-shadow--100);
    }
}

hr {
    margin-block: 1rem;
}
