// ***********************************
//  Text Elements
// ***********************************
p {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    color: var(--c-color-100);
    font-weight: var(--fw-bold);
}

em {
    color: var(--c-color-200);
    font-style: italic;
}

code {
    color: var(--c-color-300);
    font-family: 'Courier New', monospace;
}

ul, ol {
    margin: 0 0 1em 1em;

    &:last-child {
        margin-bottom: 0;
    }

    &.has-background {
        margin-left: 0;
        padding: clamp(0.5rem, 3vw, 1rem) clamp(0.5rem, 3vw, 1rem) clamp(0.5rem, 3vw, 1rem) clamp(2rem, 3vw, 2.5rem);
    }
}

a {
    color: var(--c-primary);
    text-decoration: none;
    transition: all var(--t-medium);

    &:hover,
    &:focus {
        color: var(--c-white);
        text-shadow: 1px 1px 2px var(--c-black-alt), 0 0 1em var(--c-primary), 0 0 0.2em var(--c-primary);
    }
}

hr {
    margin-block: 1em;
}