// ***********************************
//  Text Style Guide
// ***********************************
@mixin text($family, $size, $weight, $lineHeight, $color, $textDecoration, $textTransform, $fontStyle) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	line-height: $lineHeight;
	color: $color;
	text-decoration: $textDecoration;
	text-transform: $textTransform;
	font-style: $fontStyle;
}

// Typical Use: Default paragraph text
// Description: Small font size and white color
%text-100 {
	@include text(
		var(--ff-primary), // Font Family:     Montserrat
		var(--fs--base),     // Font Size:       18px (1.125rem)
		var(--fw-regular), // Font Weight:     Regular
		var(--lh-500),     // Line Height:     2
		var(--c-white),    // Color:           White
		none,              // Text Decoration: none
		none, 			   // Text Transform:  none
		normal 		       // Font Style:      normal
	);
}
.text-100 { @extend %text-100; }

// Typical Use: Headings
// Description: Small font size and orange gradient color
%text-200 {
	@include text(
		var(--ff-primary), // Font Family:     Montserrat
		var(--fs--base),     // Font Size:       18px (1.125rem)
		var(--fw-regular), // Font Weight:     Regular
		var(--lh-400),     // Line Height:     1.5
		var(--c-white),    // Color:           See 'background' property
		none,              // Text Decoration: none
		none, 			   // Text Transform:  none
		normal 		       // Font Style:      normal
	);
	background: linear-gradient(to right, var(--c-gradient));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.text-200 { @extend %text-200; }
.text-200--h1 h1 { @extend %text-200; }
.text-200--h2 h2 { @extend %text-200; }
.text-200--h3 h3 { @extend %text-200; }

// Typical Use: Headings
// Description: Medium font size and orange gradient color
%text-300 {
	@include text(
		var(--ff-primary),                        // Font Family:     Montserrat
		clamp(var(--fs--large), 3vw, var(--fs--xx-large)), // Font Size:       22px/26px (1.375rem/1.625rem)
		var(--fw-regular),                        // Font Weight:     Regular
		var(--lh-400),                            // Line Height:     1.5
		var(--c-white),                           // Color:           See 'background' property
		none,                                     // Text Decoration: none
		none, 			                          // Text Transform:  none
		normal 		                              // Font Style:      normal
	);
	background: linear-gradient(to right, var(--c-gradient));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.text-300 { @extend %text-300; }
.text-300--h1 h1 { @extend %text-300; }
.text-300--h2 h2 { @extend %text-300; }
.text-300--h3 h3 { @extend %text-300; }

// Typical Use: Headings
// Description: Large font size and orange gradient color
%text-400 {
	@include text(
		var(--ff-primary),                          // Font Family:       Montserrat
		clamp(var(--fs--huge), 5vw, var(--fs--gigantic)), // Font Size:         32px/52px (3rem/3.25rem)
		var(--fw-thin),                             // Font Weight:       Thin
		var(--lh-400),                              // Line Height:       1.5
		var(--c-white),                             // Color:             See 'background' property
		none,                                       // Text Decoration:   none
		none, 			                            // Text Transform:    none
		normal 		                                // Font Style:        normal
	);
	background: linear-gradient(to right, var(--c-gradient));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.text-400 { @extend %text-400; }
.text-400--h1 h1 { @extend %text-400; }
.text-400--h2 h2 { @extend %text-400; }
.text-400--h3 h3 { @extend %text-400; }

// Typical Use: Category names, date timestamps
// Description: Small font size and grey color
%text-500 {
	@include text(
		var(--ff-primary), // Font Family:     Montserrat
		var(--fs--xsmall),     // Font Size:       16px (1rem)
		var(--fw-regular), // Font Weight:     Regular
		var(--lh-400),     // Line Height:     1.5
		var(--c-grey-300), // Color:           Grey - Medium
		none,              // Text Decoration: none
		none, 			   // Text Transform:  none
		normal 		       // Font Style:      normal
	);
}
.text-500 { @extend %text-500; }
.text-500--h1 h1 { @extend %text-500; }
.text-500--h2 h2 { @extend %text-500; }
.text-500--h3 h3 { @extend %text-500; }