:root {
	// ***********************************
	//  Fonts and Text
	// ***********************************
	--ff--primary: 'Montserrat', serif;

	--fs--xxx-small: 0.8125rem; // 13
	--fs--xx-small: 0.875rem; // 14
	--fs--x-small: 0.9375rem; // 15
	--fs--xsmall: 1rem; // 16
	--fs--base: 1.125rem; // 18
	--fs--medium: 1.25rem; // 20
	--fs--large: 1.375rem; // 22
	--fs--x-large: 1.5rem; // 24
	--fs--xx-large: 1.625rem; // 26
	--fs--huge: 2rem; // 32
	--fs--gigantic: 3.25rem; // 52

	--fw--thin: 100;
	--fw--extra-light: 200;
	--fw--light: 300;
	--fw--regular: 400;
	--fw--medium: 500;
	--fw--semi-bold: 600;
	--fw--bold: 700;
	--fw--extra-bold: 800;
	--fw--extra-black: 900;

	--lh--none: 1;
	--lh--tight: 1.1;
	--lh--snug: 1.2;
	--lh--normal: 1.5;
	--lh--relaxed: 1.625;
	--lh--loose: 2;
	--lh--body: "calc(1px + 2ex + 7px)";




	// ***********************************
	//  colors
	// ***********************************
	--c--primary: #009ffe;
	--c--primary-rgb-10: rgb(41 148 255 / 20%);
	--c--secondary: #ff5733;
	--c--tertiary: #ffc300;
	--c-color--100: #d780d0;
	--c-color--200: #fefecc;
	--c-color--300: #91d780;
	--c--black: #17171a;
	--c--black-alt: #0a0a0a;
	--c--white: #fefefe;
	--c--grey-100: #343434; // in use
	--c--grey-200: #1e1e23; // in use
	--c--grey-300: #878787; // in use
	--c--grey-400: #bebebe;
	--c--grey-500: #dcdcdc;
	--c--gradient: var(--c--secondary) 0%, var(--c--tertiary) 100%;




	// ***********************************
	//  Element Widths
	// ***********************************
	--w--100: 480px;
	--w--200: 640px;
	--w--300: 800px;
	--w--400: 960px;
	--w--500: 1024px;
	--w--600: 1120px;
	--w--700: 1440px;
	--w--800: 1600px;
	--w--900: 1760px;
	--w--1000: 1920px;
	--w--spacing: calc(100% - 2em);




	// ***********************************
	//  Spacing
	// ***********************************
	--wp--preset--spacing--small: clamp(.5rem, 2.5vw, 1rem);
	--wp--preset--spacing--medium: clamp(1.5rem, 4vw, 2rem);
	--wp--preset--spacing--large: clamp(2rem, 5vw, 3rem);
	--wp--preset--spacing--x-large: clamp(3rem, 7vw, 5rem);
	--wp--preset--spacing--xx-large: clamp(4rem, 9vw, 7rem);
	--wp--preset--spacing--xxx-large: clamp(5rem, 12vw, 9rem);
	--wp--preset--spacing--xxxx-large: clamp(6rem, 14vw, 13rem);
	--spacing--200: clamp(1em, 5vw, 3em);
	--spacing--400: clamp(3em, 5vw, 5em);




	// ***********************************
	//  Transitions
	// ***********************************
	--t--fast: 0.3s;
	--t--medium: 0.5s;
	--t--slow: 1s;
}
// end :root
