:root.dark-mode {
	// ***********************************
	//  Colors - Dark Mode (Default)
	// ***********************************
	--wp--preset--color--primary: #009ffe;
	--wp--preset--color--primary-rgb-10: rgb(41 148 255 / 20%);
	--wp--preset--color--secondary: #ff5733;
	--wp--preset--color--tertiary: #ffc300;
	--wp--preset--color--100: #d780d0;
	--wp--preset--color--200: #fefecc;
	--wp--preset--color--300: #91d780;
	--wp--preset--color--main: #17171a;
	--wp--preset--color--main-alt: #0a0a0a;
	--wp--preset--color--base: #fefefe;
	--wp--preset--color--grey-100: #343434;
	--wp--preset--color--grey-200: #1e1e23;
	--wp--preset--color--grey-300: #878787;
	--wp--preset--gradient--primary: #ff5733 0%, #ffc300 100%;
}

:root.light-mode {
	// ***********************************
	//  Colors - Light Mode
	// ***********************************
	--wp--preset--color--primary: #ff0000;
	--wp--preset--color--primary-rgb-10: rgba(255, 0, 0, 0.2);
	--wp--preset--color--secondary: #ff0000;
	--wp--preset--color--tertiary: #ff0000;
	--wp--preset--color--100: #ff0000;
	--wp--preset--color--200: #ff0000;
	--wp--preset--color--300: #ff0000;
	--wp--preset--color--main: #ededed;
	--wp--preset--color--main-alt: #e0e0e0;
	--wp--preset--color--base: #000;
	--wp--preset--color--grey-100: #b8b8b8;
	--wp--preset--color--grey-200: #ff0000;
	--wp--preset--color--grey-300: #ff0000;
	--wp--preset--gradient--primary: #0004ff 0%, #00ff1e 100%;
}

:root {
	// ***********************************
	//  Font Families
	// ***********************************
	--wp--preset--font-family--primary: 'Montserrat', serif;




	// ***********************************
	//  Font Sizes
	// ***********************************
	--wp--preset--font-size--xx-small: clamp(0.8125rem, 0.813rem + ((1vw - 0.2rem) * 0.106), 0.875rem); // 14
	--wp--preset--font-size--x-small: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.107), 0.9375rem); // 15
	--wp--preset--font-size--small: clamp(0.9375rem, 0.938rem + ((1vw - 0.2rem) * 0.106), 1rem); // 16
	--wp--preset--font-size--base: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.213), 1.125rem); // 18
	--wp--preset--font-size--medium: clamp(1.125rem, 1.125rem + ((1vw - 0.2rem) * 0.213), 1.25rem); // 20
	--wp--preset--font-size--large: clamp(1.25rem, 1.25rem + ((1vw - 0.2rem) * 0.213), 1.375rem); // 22
	--wp--preset--font-size--x-large: clamp(1.375rem, 1.375rem + ((1vw - 0.2rem) * 0.213), 1.5rem); // 24
	--wp--preset--font-size--xx-large: clamp(1.5rem, 1.5rem + ((1vw - 0.2rem) * 0.213), 1.625rem); // 26
	--wp--preset--font-size--huge: clamp(1.625rem, 1.625rem + ((1vw - 0.2rem) * 0.638), 2rem); // 32
	--wp--preset--font-size--gigantic: clamp(2rem, 2rem + ((1vw - 0.2rem) * 2.128), 3.25rem); // 52




	// ***********************************
	//  Font Weights
	// ***********************************
	--wp--custom--font-weight--thin: 100;
	--wp--custom--font-weight--extra-light: 200;
	--wp--custom--font-weight--light: 300;
	--wp--custom--font-weight--regular: 400;
	--wp--custom--font-weight--medium: 500;
	--wp--custom--font-weight--semi-bold: 600;
	--wp--custom--font-weight--bold: 700;
	--wp--custom--font-weight--extra-bold: 800;
	--wp--custom--font-weight--extra-black: 900;




	// ***********************************
	//  Line Heights
	// ***********************************
	--wp--custom--line-height--none: 1;
	--wp--custom--line-height--tight: 1.1;
	--wp--custom--line-height--snug: 1.2;
	--wp--custom--line-height--normal: 1.5;
	--wp--custom--line-height--relaxed: 1.625;
	--wp--custom--line-height--loose: 2;
	--wp--custom--line-height--body: "calc(1px + 2ex + 7px)";




	// ***********************************
	//  Text Shadows
	// ***********************************
	--wp--custom--text-shadow--100: 1px 1px 2px var(--wp--preset--color--main-alt), 0 0 1rem var(--wp--preset--color--primary), 0 0 0.2rem var(--wp--preset--color--primary);




	// ***********************************
	//  Element Widths
	// ***********************************
	--width--xxxx-small: 25rem; // 400px
	--width--xxx-small: 30rem; // 480px
	--width--xx-small: 40rem; // 640px
	--width--x-small: 50rem; // 800px
	--width--small: 60rem; // 960px
	--width--medium: 64rem; // 1024px
	--width--large: 70rem; // 1120px
	--width--x-large: 90rem; // 1440px
	--width--xx-large: 100rem; // 1600px
	--width--xxx-large: 110rem; // 1760px
	--width--xxxx-large: 120rem; // 1920px




	// ***********************************
	//  Gutters
	// ***********************************
	--gutter--normal: calc(100% - 2rem);




	// ***********************************
	//  Spacing
	// ***********************************
	--wp--preset--spacing--x-small: clamp(.25rem, 1.5vw, .5rem);
	--wp--preset--spacing--small: clamp(.5rem, 2.5vw, 1rem);
	--wp--preset--spacing--medium: clamp(1.5rem, 4vw, 2rem);
	--wp--preset--spacing--large: clamp(2rem, 5vw, 3rem);
	--wp--preset--spacing--x-large: clamp(3rem, 7vw, 5rem);
	--wp--preset--spacing--xx-large: clamp(4rem, 9vw, 7rem);
	--wp--preset--spacing--xxx-large: clamp(5rem, 12vw, 9rem);
	--wp--preset--spacing--xxxx-large: clamp(6rem, 14vw, 13rem);




	// ***********************************
	//  Transitions
	// ***********************************
	--transition--fast: 0.3s;
	--transition--medium: 0.5s;
	--transition--slow: 1s;
}
// end :root
