// ***********************************
//  Required Modules
// ***********************************
@use 'base/typography';




// ***********************************
//  Buttons
// ***********************************
%button {
	@include typography.text(
		var(--wp--preset--font-family--primary),
		clamp(var(--fs--xsmall), 3vw, var(--wp--preset--font-size--base)),
		var(--wp--custom--font-weight--medium),
		var(--wp--custom--line-height--body),
		var(--wp--preset--color--primary),
		none,
		none,
		normal
	);
	
	background-color: var(--wp--preset--color--grey-200);
	border: 1px solid var(--wp--preset--color--grey-100);
	border-radius: 0 1rem;
	cursor: pointer;
	padding: 0.7em 1.25rem;
	text-align: center;
	transition: all var(--transition--fast);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--main-alt);
		box-shadow: 1px 1px 50px var(--wp--preset--color--primary-rgb-10);
		color: var(--wp--preset--color--base);
		text-shadow: var(--wp--custom--text-shadow--100);
	}
}

.button {
	@extend %button;
}

%button--fill {
	@extend %button;
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);
}

%button--outline {
	@extend %button;
	background-color: transparent;
	color: var(--wp--preset--color--primary);

	&:hover,
	&:focus {
		color: var(--wp--preset--color--base);
	}
}