// ***********************************
//  Required Modules
// ***********************************
@use 'base/viewports';
@use 'base/typography';




// ***********************************
//  Intro
// ***********************************
.intro {
	border-bottom: 1px solid var(--wp--preset--color--grey-100);
	margin-bottom: var(--wp--preset--spacing--x-large);
	padding-bottom: var(--wp--preset--spacing--x-large);

	h2 {
		margin-bottom: 1.5rem;

		&.wp-block-heading {
			@extend %text-400;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;

		@media (max-width: viewports.$viewport--breakpoint--large) {
			flex-direction: column;
		}
	}

	.wp-block-column {
		&:last-of-type {
			display: flex;
			justify-content: end;
			align-items: center;
		}
	}

	.slideshow {
		width: 348px;

		// show three slides in a row on medium-size viewports
		@media (max-width: viewports.$viewport--breakpoint--large) {
			margin-top: 3rem;
			width: 100%;
			grid-template-columns: repeat(3, 1fr);
			gap: clamp(0.25em, 2vw, 1em);
			
			.slideshow__slide {
				opacity: 1;
				z-index: 1;
				grid-column: auto;
				grid-row: auto;

				// hide all but the first 3 slides
				&:nth-of-type(n+4) {
					display: none;
				}
			}

			img {
				width: 348px;
			}
		}

		// show one slide again on small-size viewports
		@media (max-width: viewports.$viewport--breakpoint--xxx-small) {
			max-width: 348px;
			grid-template-columns: 1fr;
			margin-inline: auto;

			.slideshow__slide {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				opacity: 0;
				transition: all var(--transition--medium);
				z-index: -1;

				&[data-status=active] {
					opacity: 1;
					z-index: 1;
				}
			}
		}
	}
}