// ***********************************
//  Social Icons
// ***********************************
.social {
	list-style: none;
	margin: 0;

	a {
		&:before {
			content: '\E800';
			font-family: 'icons';
		}
	}
}

.social__instagram a:before { content: '\F16D'; }
.social__linkedin a:before { content: '\E809'; }
.social__lastfm a:before { content: '\F202'; }
.social__github a:before { content: '\F09B'; }
.social__codepen a:before { content: '\F32C'; }