@use "../../app/scss/base/viewports";

.sounds {
  background-color: var(--wp--preset--color--grey-200);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(540px, 100%);
}

.sounds__item {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 0.25em solid var(--wp--preset--color--main-alt);
  
  &:last-of-type {
    border-bottom: none;
  }

  @media (max-width: viewports.$viewport--breakpoint--xxx-small) {
    flex-direction: column;
    text-align: center;
  }
}

.sounds__name {
  p {
    margin: 0;
  }
}

.sounds__btn {
  display: flex;
  gap: 1.5em;

  a,
  button {
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.25s;

    &.sounds__btn__download {
      fill: var(--wp--preset--color--primary);

      &:hover,
      &:focus {
        fill: var(--wp--preset--color--base);
      }
    }

    &.sounds__btn__play {
      fill: var(--wp--preset--color--primary);

      &:hover,
      &:focus {
        fill: var(--wp--preset--color--base);
      }
    }
  }

  audio {
    display: none;
  }
}