// ***********************************
//  Required Modules
// ***********************************
@use 'base/typography';




// ***********************************
//  Article
// ***********************************
.article__featured-image {
	    margin-block: var(--wp--preset--spacing--x-large);

	img {
		border: 0.25rem solid var(--wp--preset--color--grey-300);
		margin-inline: auto;
	}
}

.article {
	time {
		@extend %text-500;
		font-style: italic;
		display: block;
		width: 100%;
		text-align: center;
	}
}
