// ***********************************
//  Required Modules
// ***********************************
@use 'base/viewports';
@use 'base/typography';




.page-blog {
    --blog--border: 1px solid var(--wp--preset--color--grey-500);
    --blog--border-radius: 0.5rem;
    --blog--padding-button: 0.5rem;
    --blog--padding-post: 1.25rem;
}




// ***********************************
//  Blog Filters
// ***********************************
// container
.blog__filters__container {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        justify-content: center;
    }
}

// category container
// year container
.filters__category,
.filters__year {
    position: relative;
}

// category container
/*
.filters__category {

}
*/

// year container
/*
.filters__year {

}
*/

// category toggle
// year toggle
.filters__category__toggle,
.filters__year__toggle {
    background-color: var(--wp--preset--color--grey-700);
    border: var(--blog--border);
    color: var(--wp--preset--color--primary);
    cursor: pointer;
    padding-block: var(--blog--padding-button);
    padding-inline: 0.25rem;
    position: relative;
    transition: all var(--transition--fast);
    width: 150px;

    &:hover,
    &:focus {
        background-color: var(--wp--preset--color--main-alt);
        box-shadow: 1px 1px 50px var(--wp--preset--color--primary-rgb-10);
        color: var(--wp--preset--color--base);

        &:after {
            box-shadow: none;
        }
    }

    &:after {
        color: (var(--wp--preset--color--grey-300));
        font-family: 'icons';
        inset: 4.25rem 50% auto 0;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        transform: translateX(50%);
        transition: opacity var(--transition--medium);

        @media (max-width: viewports.$viewport--breakpoint--xx-small) {
            display: none;
        }
    }

    &.is-icon-hiding {
        &:after {
            opacity: 0;
        }
    }
}

// category toggle
.filters__category__toggle {
    border-radius: var(--blog--border-radius) 0 0 var(--blog--border-radius);

    &.is-open {
        border-radius: var(--blog--border-radius) 0 0 0;
    }

    &:after {
        content: '\E816';
    }
}

// year toggle
.filters__year__toggle {
    border-radius: 0 var(--blog--border-radius) var(--blog--border-radius) 0;

    &.is-open {
        border-radius: 0 var(--blog--border-radius) 0 0;
    }

    &:after {
        content: '\E801';
    }
}

// category list
// year list
.filters__category__list,
.filters__year__list {
    display: none;
    list-style-type: none;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    &.is-open {
        display: block;
    }
}

// category list
/*
.filters__category__list {
    
}
*/

// year list
.filters__year__list {
    left: -1px;
}

// category list item
// year list item
.filters__category__list-item,
.filters__year__list-item {
    border-left: var(--blog--border);
    border-right: var(--blog--border);
}

// category list item
/*
.filters__category_list-item {
    
}
*/

// year list item
/*
.filters__year__list-item {

}
*/

// category button
// year button
.filters__category__button,
.filters__year__button {
    background-color: var(--wp--preset--color--grey-700);
    border: 0;
    border-bottom: var(--blog--border);
    color: var(--wp--preset--color--primary);
    cursor: pointer;
    padding-block: var(--blog--padding-button);
    transition: all var(--transition--fast);
    width: 100%;

    &:hover,
    &:focus {
        background-color: var(--wp--preset--color--main-alt);
        box-shadow: 1px 1px 50px var(--wp--preset--color--primary-rgb-10);
        color: var(--wp--preset--color--base);
        text-shadow: var(--wp--custom--text-shadow--100);
    }

    &.is-active {
        display: none;
    }
}

// category button
/*
.filters__category__button {

}
*/

// year button
/*
.filters__year__button {

}
*/




// ***********************************
//  Blog Posts
// ***********************************
// wrapper
.blog__posts__wrapper {
    min-height: 50vh; // this prevents the page from jumping when the posts load due to vertical height changes and the scrollbar appearing
}

// container
.blog__posts__container {
    border: var(--blog--border);
    border-bottom: 0;
    border-radius: var(--blog--border-radius);
    opacity: 1;
    transition: opacity var(--transition--medium);

    &.is-hiding {
        opacity: 0;
    }

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        border: 0;
    }
}

// posts
.blog__posts {
    color: var(--wp--preset--color--base);
    list-style: none;
    margin: 0;
}

// post items
.blog__posts__item {
    border-bottom: var(--blog--border);
    border-radius: var(--blog--border-radius);
    display: flex;
    justify-content: space-between;

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        border: var(--blog--border);
        flex-direction: column;
        margin-bottom: 1.25rem;
    }

    &.is-hidden {
        display: none;
    }

    &.is-visible {
        display: flex;
    }
}

// post link
.blog__link {
    padding-block: var(--blog--padding-post);
    padding-inline: var(--blog--padding-post);

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        padding-bottom: 0;
        text-align: center;
    }
}

// post meta
.blog__meta {
    display: flex;
    justify-content: center;

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        font-size: var(--wp--preset--font-size--x-small);
        gap: 1rem;
        padding-block: var(--blog--padding-post);
        padding-inline: var(--blog--padding-post);
    }
}

.blog__category,
.blog__date {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-block: var(--blog--padding-post);
    padding-inline: var(--blog--padding-post);
    text-align: center;

    &:before {
        @media (max-width: viewports.$viewport--breakpoint--xx-small) {
            color: (var(--wp--preset--color--grey-300));
            font-family: 'icons';
            margin-right: 0.5rem;
        }
    }
}

// post category
.blog__category {
    border-left: var(--blog--border);
    border-right: var(--blog--border);

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        border-left: 0;
        border-right: 0;
        padding: 0;
    }

    &:before {
        @media (max-width: viewports.$viewport--breakpoint--xx-small) {
            content: '\E816';
        }
    }
}

// post date
.blog__date {
    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        padding: 0;
    }

    &:before {
        @media (max-width: viewports.$viewport--breakpoint--xx-small) {
            content: '\E801';
        }
    }
}

// error message (No Posts Found)
.blog__posts__message {
    border-bottom: var(--blog--border);
    color: var(--wp--preset--color--grey-300);
    font-size: clamp(1rem, 5vw, 5rem);
    text-align: center;
    padding-block: 5rem;
    padding-inline: 1rem;

    @media (max-width: viewports.$viewport--breakpoint--xx-small) {
        border: var(--blog--border);
        border-radius: var(--blog--border-radius);
    }

    &.is-hidden {
        display: none;
    }

    &.is-visible {
        display: block;
    }
}
