// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
	margin-inline: auto;
}




// ***********************************
//  Element Widths
// ***********************************
.width-small { width: min(var(--width--small), var(--gutter--normal)); }
.width--x-large { width: min(var(--width--x-large), var(--gutter--normal)); }