// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
	margin-inline: auto;
}




// ***********************************
//  Element Widths
// ***********************************
.width-400 { width: min(var(--width--small), var(--width--spacing)); }
.width-700 { width: min(var(--width--x-large), var(--width--spacing)); }