// ***********************************
//  Required Modules
// ***********************************
@use 'base/viewports';




// ***********************************
//  Footer
// ***********************************
footer.site-footer {
	border-top: 1px solid var(--wp--preset--color--grey-100);
	margin-top: var(--wp--preset--spacing--x-large);
	padding-block: var(--wp--preset--spacing--large);
}




// ***********************************
//  Container
// ***********************************
.footer__container {
	display: flex;
	justify-content: space-between;

	@media (max-width: viewports.$viewport--breakpoint--xxx-small) {
		align-items: center;
		flex-direction: column;
	}
}




// ***********************************
//  Copyright
// ***********************************
.footer__copyright {
	align-items: center;
	display: flex;

	p {
		margin-bottom: 0;
	}
}



// ***********************************
//  Social
// ***********************************
.footer__social {
	ul {
		display: flex;
		gap: 0.5rem;
	}

	a {
		align-items: center;
		color: var(--wp--preset--color--base);
		display: flex;
		font-size: clamp(1.5rem, 2vw, 2rem);
		height: 44px;
		justify-content: center;
		line-height: 1;
		text-decoration: none;
		width: 44px;

		&:hover,
		&:focus {
			color: var(--wp--preset--color--primary);
			text-shadow: 1px 1px 50px var(--wp--preset--color--primary);
		}
	}
}