// ***********************************
//  Required Modules
// ***********************************
@use 'base/typography';
@use 'base/viewports';




// ***********************************
//  Default Page
// ***********************************
.page-default {
	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--wp--preset--spacing--x-large);

		@media (max-width: viewports.$viewport--breakpoint--xx-small) {
			align-items: center;
			flex-direction: column;
			gap: 1rem;
		}
	}

	h1 {
		@extend %text-400;
	}

	p {
		margin-bottom: 0;
	}
}




// ***********************************
//  Page Alternate - A
// ***********************************
.page-alternate-a {
	header {
		margin-bottom: var(--wp--preset--spacing--x-large);
	}

	h1 {
		@extend %text-400;
		text-align: center;
	}
}
