// ***********************************
//  Required Modules
// ***********************************
@use 'base/typography';




// ***********************************
//  Default Page
// ***********************************
.page-default {
	header {
		margin-bottom: var(--wp--preset--spacing--x-large);
	}

	h1 {
		@extend %text-400;
		text-align: center;
	}
}




// ***********************************
//  Page Alternate - A
// ***********************************
.page-alternate-a {
	header {
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--wp--preset--spacing--x-large);
	}

	h1 {
		@extend %text-300;
	}

	p {
		margin-bottom: 0;
	}
}