// ***********************************
//  Required Modules
// ***********************************
@use 'base/typography';
@use 'base/viewports';




// ***********************************
//  Post Feed - Home
// ***********************************
.post-feed-home {
    border-bottom: 1px solid var(--wp--preset--color--grey-700);
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    padding-bottom: 2rem;

    @media (max-width: viewports.$viewport--breakpoint--large) {
        border-bottom: 0;
        flex-direction: column;
    }
}

.post-feed-home__blips {
    flex-basis: 960px;

    @media (max-width: viewports.$viewport--breakpoint--large) {
        flex-basis: 100%;
    }
}

.post-feed-home__blog {
    flex-basis: 350px;

    @media (max-width: viewports.$viewport--breakpoint--large) {
        flex-basis: 100%;
    }
}

.post-feed-home__items {
    margin-top: 1rem;
}

.post-feed-home__item {
    border-bottom: 1px solid var(--wp--preset--color--grey-700);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    p {
        margin-bottom: 0;
    }
}

/*
.post-feed-home__post {

}
*/

.post-feed-home__date {
    color: var(--wp--preset--color--grey-300);
    font-style: italic;
    margin-top: 0.5rem;
}




// ***********************************
//  Post Feed - Page
// ***********************************
.post-feed-page {

}

.post-feed-page__blips {

}

.post-feed-page__items {

}

.post-feed-page__item {
    border-bottom: 1px solid var(--wp--preset--color--grey-500);
    margin-bottom: 3rem;
    padding-bottom: 3rem;

    &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }
}

/*
.post-feed-page__post {

}
*/

.post-feed-page__date {
    color: var(--wp--preset--color--grey-300);
    font-style: italic;
    margin-top: 0.5rem;
}
