// ***********************************
//  Content
// ***********************************
.wrap {
	border-bottom: 1px solid var(--wp--preset--color--grey-100);
	margin-bottom: var(--wp--preset--spacing--x-large);
	padding-bottom: var(--wp--preset--spacing--x-large);
}
