// ***********************************
//  Slideshow - Fade In / Out
// ***********************************
.slideshow {
    display: grid;
    place-items: start;
}

// slides
.slideshow__slide {
    opacity: 0;
    z-index: -1;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all var(--t-medium);
}

.slideshow__slide[data-status='active'] {
    opacity: 1;
    z-index: 1;
}

// controls (prev / next)
.slideshow__controls {

}

.slideshow__prev {

}

.slideshow__next {

}

// dots
.slideshow__dots {

}

.slideshow__dot {
    width: 1em;
    height: 1em;
}

.slideshow__dot[data-status='active'] {
    background-color: red;
}




// ***********************************
//  Slideshow - Utilities
// ***********************************
.slideshow--circular,
.slideshow--round { // delete .slideshow--round once 404 page is updated to use ACF Block slideshow!
    img {
		border-radius: 100%;
		border: clamp(0.25em, 2vw, 1em) solid var(--c-grey-100);
	}
}

.slideshow--rounded {
    img {
		border-radius: 2em;
		border: clamp(0.25em, 2vw, 1em) solid var(--c-grey-100);
	}
}

.slideshow--center {
    .slideshow__slide {
        margin-inline: auto;
    }
}