.highlighted-image {
    --highlighted-image-spacing: clamp(2em, 3vw, 1em);
    background-color: var(--c--grey-200);
    padding: var(--highlighted-image-spacing);

    img {
        display: block;
        margin-inline: auto;
    }

    figcaption {
        font-size: var(--wp--preset--font-size--x-small);
        margin-top: var(--highlighted-image-spacing);
        text-align: center;
    }
}